body {
	font-family: Arial;
	font size: 20pt;
	font color: red;
}

div {
	outline: 1px solid white-space: normal;	
}

/* This is the outermost idv in our content markup */
#main-content {
	width: 960px;
	height: 600px;
}

.button-holder {
	width: 200px;
	float: left;
	font-family: Arial, serif;
}

.button {
	width: 60px;
	padding: 8px;
	margin: 4px;
	border-width: 1px;
	border-color: white-space: normal;
	border-style: solid;
	float: left;
	text-align: center;
}

.image-holder {
	width: 600px;
	height: 300px;
	float: left;
}

.ingredients {
	width: 400px;
	height: 300px;
	float: left;
	font-family: "Lucida Grande";
	font size: 12pt;
	line-height: 1em;	
	display: block;
}

.direction {
	width: 400px;
	height: 300px;
	float: right;
	font-family: "Lucida Grande";
	font size: 12pt;
	line-height: 1em;	
	display: block;
